{{!< default}}
    {{! Each post will be output using this markup }}

<div class="featuredContainer">
    <div id="controls">
        <div class="left">
            <div class="hoverPrev">
                <div class="subHeroImage"><!-- --></div>
                <div class="textcontent">
                    <div class="postTitle"><!-- --></div>
                    <hr />
                    <div class="dateStamp"><!-- --></div>
                </div>
            </div>
            <div class="icon"><div class="icon-left"><!-- --></div></div>
        </div>
        <div class="right">
            <div class="hoverPrev">
                <div class="subHeroImage"><!-- --></div>
                <div class="textcontent">
                    <div class="postTitle"><!-- --></div>
                    <hr />
                    <div class="dateStamp"><!-- --></div>
                </div>
            </div>
            <div class="icon"><div class="icon-right"><!-- --></div></div>

        </div>
    </div>
    <div class="featureContent">
        <div class="pagination"></div>
    </div>
</div>

{{>wookmark}}
