{{!< default}}
{{#post}}
<article id="postMain" class="{{post_class}}">
    <div class="heroImage"></div>
    <section class="postContent">
        <h1 class="postTitle">{{{title}}}</h1>
        <hr />
        {{content}}
    </section>
</article>
{{/post}}


